<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665897220336-ce4esjuicg488rdjpkc8uc46cth248db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665897220336-ce4esjuicg488rdjpkc8uc46cth248db</string>
	<key>API_KEY</key>
	<string>AIzaSyBzIB1wymUyB1vNe5DelLgR8vTirfrmUdE</string>
	<key>GCM_SENDER_ID</key>
	<string>665897220336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.potl</string>
	<key>PROJECT_ID</key>
	<string>potl-5025d</string>
	<key>STORAGE_BUCKET</key>
	<string>potl-5025d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665897220336:ios:1139b9e07e053554d8ea35</string>
</dict>
</plist>